<h1 style="color: green">I am a</h1>
<%= link_to '<button type="button">Student</button>'.html_safe, grader_applications_path %>
<%= link_to '<button type="button">Administrator</button>'.html_safe, course_sections_path %>
<%= link_to '<button type="button">Instructor</button>'.html_safe, recommendations_path %>
<div style="position:absolute; left:50px; bottom:10px">
  <%= image_tag("cselogo.jpg", width:'450px') %>
</div>
